
body {
  font-family: 'Montserrat', sans-serif;
  color: #f2f2f2;
}

/* Font for main jumbotron  */

@font-face {
   font-family: karlgeoffnatural;
   src: url("../../resources/fonts/karlgeoffnatural.ttf");

   font-family: sukima;
   src: url("../../resources/fonts/Sukima_stencil_bold.otf");
 }



.navbar {
    margin-bottom: 0;
    background-color: #05354F;
    border: 5px;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}


/* main title jumbotron */
.jumbotron {
    background-image: url("../../resources/images/city.png");
    background-size: cover;
    color: #ffffff;
    padding: 100px 25px;
    margin: auto;
}

#main-page-title {
    /* font-family: karlgeoffnatural; */
    font-family: sukima;
    font-size: 100px;
    font-variant: small-caps;
    /* font-weight: lighter; */
}

#read-more-btn{
    margin: 10px;
    margin-bottom: 25px;
}

.btn {
  background-color: #033D4D;
  color: #ffffff;
  border-color: #ffffff;
}

.container-fluid {
  padding-top: 20px;
  padding: 100px 80px;
}

#news, #film {
  background-color: #5F97A7;
  border-color: #f2f2f2;
}

#about-us, #ticket{
  background-color: #3A7A8C;
}

img {
      height: 200px;
      width: auto;
      float: right;
      clear:right;
      padding-left:15px;
      padding-bottom: 10px;
      border-radius: 15px 50px;
}

.article p {
  overflow: auto;
  padding-left: none;
  padding-bottom: 50px;

}


.art-title{
  font-family: 'Bungee Inline', cursive;
  padding-bottom: 20px;
  font-size: 60px;
}

thead{
  font-weight: bolder;
}

.film-table
{
  font-weight: bold;
  color: #033D4D;
}

.googlemap {
        position: relative;
        padding-bottom: 30%; /* 4:3 ratio*/
        height: 0;
        overflow: hidden;
}

.googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 50px 100px;
  border:2px solid #f2f2f2;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
