
/* Font for main jumbotron  */

.min-100 {
    min-height: 100vh;
}

@font-face {
   font-family: sukima;
   src: url("../../resources/fonts/Sukima_stencil_bold.otf");
 }



.navbar {
    /* margin-bottom: 0; */
    /* background-color: #d6200e; */
    /* border: 5px; */
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}


/* main title jumbotron */
.jumbotron {
    background-image: url("../../resources/images/city.png");
    /* background-size: cover; */
    /* color: #ffffff; */
    /* padding: 100px 25px; */
    /* margin: auto; */
}



.fontsukima {
    /* font-family: karlgeoffnatural; */
    font-family: sukima !important;
    /* font-size: 100px; */
    /* font-variant: small-caps; */
    /* font-weight: lighter; */
}

#read-more-btn{
    /* margin: 10px;
    margin-bottom: 25px; */
}

.btn {
  /* background-color: #033D4D; */
  /* color: #ffffff; */
  /* border-color: #ffffff; */
}

.container-fluid {
  /* padding-top: 20px;
  padding: 100px;
  padding: 60px 50px; */

}

#news, #film {
  /* background-color: #5F97A7; */
  /* border-color: #f2f2f2; */
}

#about-us, #ticket{
  /* background-color: #3A7A8C; */
}

img {
      height: 200px;
      width: auto;
      float: right;
      clear:right;
      padding-left:15px;
      padding-bottom: 10px;
      border-radius: 15px 50px;
}

/* .article p {
  overflow:visible;
  padding-left: none;
  padding-bottom: 50px;

} */


.art-title{
  /* font-family: 'Bungee Inline', cursive; */
  /* padding-bottom: 20px;
  font-size: 60px; */
}

thead{
  font-weight: bolder;
}

.film-table{
  font-weight: bold;
  color: #033D4D;
}

.googlemap {
  position: relative;
  padding-bottom: 30%; /* 4:3 ratio*/
  height: 0;
  overflow: hidden;
}

.googlemap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.email{
  color: #f2f2f2;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 25%;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 10px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  /* background-color: white; */
  opacity: 0.3;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
  /* display: inline-block; */
  /* text-align: center; */
  color: white;
  /* font-size: 220px; */
  vertical-align: middle;
  background: #d6249f;
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.youtube {
  background: #bb0000;
  color: white;
}
